.header {
  background-color: rgba(0, 0, 0, 0.85); /* Делаем чуть прозрачным для фона */
  padding: 15px 30px;
  display: flex;
  align-items: center;
  color: #fff;
}

.logoImg {
  height: 40px;
  margin-right: 20px;
}
